body {
    background-image: url("world3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-size: cover;
}

html, body {
    margin: 0;
    height: 100vh;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.test
{
    /* gets box ot align in middle of page*/
    margin: auto;
    border: 3px black;
    padding: 10px;
    width: 400px;
    height: 200px;
    /*background: rgb(60,133,198);*/
    vertical-align: middle;
    line-height: 50px;
    overflow:hidden;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    text-align: center;
    /*opacity: 0.5;*/

}

.navbar {
  min-height: 150px;
  width: 100%;
  border: 0px solid #fff;
  width: 100%;
  text-align: center;

}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 100px;
}

.navbar-brand img {
  height: 100%;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

.left {
  width: 40%;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
}

.right {
  width: 60%;
}

/* Clear floats after the columns */
.row {
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;

  }
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}