body {
    /* creates background images and scales it */
    background-image: url("background3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    /* makes body text right size and color*/
    text-align: center;
    color: black;
    font-weight: 600;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    /* makes body full height */
    height: 100%;
}


h1 {
    /* makes color of headers on pages green */
    color: #38ad53;
}

html, body {
    /* stretches body to entire page*/
    margin: 0;
    height: 100vh;
    overflow: hidden
}

.jumbotron {
    /* makes text box on index page the right size and margin */
    margin: 10%;
    margin-left: 20%;
    border: 2px solid #3da562;
}

.display-3 {
    /* makes color and font-size of header above table on homepage right */
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #38ad53;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    text-shadow: 0 0 0px black;
    color: #faf8f8;
}

#wingif{
  width: 2.75%;
  height: 2.75%;
}

.test
{
    /* gets box ot align in middle of page */
    margin: auto;
    width: 400px;
    height: 250px;
    vertical-align: middle;
    line-height: 50px;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;

    /* this to solve "the content will not be cut when the window is smaller than the content */
    max-width:100%;
    max-height:100%;
    text-align: center;
}

.alert {
    /* makes alert the right size */
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

.navbar {
    /* ensures navbar is the right height and has no border */
    min-height: 8rem;
    border: 0px solid #fff;
    text-align: center;
}

.navbar-brand {
    /* gets brand inside of logged in page nav bar the right size */
    padding: 0 15px;
    height: 80px;
    line-height: 100px;
}

.navbar-brand img {
    /* to make the brand image on the log in screen the right size */
    height: 100%;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* creates right size and font for text inside navbar*/
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
    font-size: 1.5rem;
    text-shadow: 0 0 12px black;
  }
}

#logout {
    /* ensures logout button is in middle of page when screen gets smaller*/
    margin-left: auto;
    margin-right: auto;
}

.table{
    /* makes tables right size */
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}


.scroller{
    /*creates scroller when tables become to large*/
    max-height: 70%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    /* makes scroller invisble */
    width: 0px;
    background: transparent;
}

.column {
    /* creates two columns on homepage*/
    float: left;
    padding: 10px;
}

.left {
    /* sets width for left column */
    width: 40%;
}

.right {
    /* sets width for right column */
    width: 60%;
}

.row {
    /* makes columns right size */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main .form-control
{
    /* gets form in beginning of page to center and scale nicely */
    display: inline-block;
    width: auto;
}

.question {
    /* creates right lay-out for the quiz-questions*/
    color: white;
    font-size: 32px;
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-variant: normal;
    top: 5%;
    text-shadow: 0 0 0px black;
}

.gameinfo {
    /* creates right lay-out for in-game info */
    color: white;
    font-size: 30px;
    position:absolute;
    float: left;
    width: 100%;
    text-align: center;
    bottom: 1.5rem;
    text-shadow: 0 0 0px black;
}

[class="btn btn-first"] {
    /* creates right lay-out and margin for first button and text inside of the first button*/
    width: 17.5%;
    height: 17.5%;
    display: block;
    background-color: green;
    position: fixed;
    top: 40%;
    left: 37%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 2.5vw;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    overflow: auto;
}

[class="btn btn-second"] {
    /* creates right lay-out and margin for second button and text inside of the second button*/
    width: 17.5%;
    height: 17.5%;
    display: block;
    background-color: blue;
    position: fixed;
    top: 40%;
    left: 57%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 2.5vw;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    overflow: auto;
}

[class="btn btn-third"] {
    /* creates right lay-out and margin for third button and text inside of the third button*/
    width: 17.5%;
    height: 17.5%;
    display: block;
    background-color: red;
    position: fixed;
    top: 65%;
    left: 37%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 2.5vw;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    overflow: auto;
}

[class="btn btn-fourth"] {
    /* creates right lay-out and margin for fourth button and text inside of the fourth button*/
    width: 17.5%;
    height: 17.5%;
    margin-left: 35px;
    display: block;
    background-color: purple;
    position: fixed;
    top: 65%;
    left: 57%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 2.5vw;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    overflow: auto;
}

#ans1:hover {
    /* creates color of hover for matching button color */
    background-color: darkgreen;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#ans2:hover {
    /* creates color of hover for matching button color */
    background-color:  #0000b3;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#ans3:hover {
    /* creates color of hover for matching button color */
    background-color: darkred;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#ans4:hover {
    /* creates color of hover for matching button color */
    background-color: #330033;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#welcometext{
    /* creates right size and color for welcometext */
    resize: none;
    background-color: #ffffff87;
    font-weight: 600;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.blockquote {
    /* makes text on profile apge white and readable */
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-shadow: 0 0 0px black;
    color: white;
}

a {
    /* makes text on log in page right color */
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
    text-shadow: 0 0 0px black;
}

a:hover {
    /* creates hover color for text on log in page */
    color: #28a745;
}