{% extends "layout.html" %}

{% block title %}
    browse users
{% endblock %}

{% block main %}
<form action="{{ url_for('browse_users') }}" method="post">
        <fieldset>
        </fieldset>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

  $(window).on('load', function() {
  if ($("#error").length != 0){
    setTimeout(function() {
      $('#error').fadeOut('fast');
    }, 3500);}
  });

</script>

{% if error %}
  <div id="error" class="alert alert-danger" role="alert">You cannot invite yourself!</div>
{% endif %}

{% if results %}
<b><label for="exampleTextarea"><h1>Users</h1></label></b>
    <table class="table">
      <thead>
        <tr class="table-success">
          <th scope="col">Users</th>
          <th scope="col"></th>
        </tr>
      </thead>
          {% for user in results %}
            <tr class="table-info">
                <td>{{ user.username }}</td> <td><form><button class="btn btn-primary" value="{{ user.id }}" name="invite_id" type="submit" formmethod="POST">Invite</button></form></td>
            </tr>
          {% endfor %}
          {% for now in current2 %}
            <tr class="table-info">
              <td colspan="1">{{ now.score }}</td>
              <td>{{ now.status }}</td>
              <td>

              </td>
            </tr>
          {% endfor %}
{% else %}
  <table class="table">
    <thead>
      <tr class="table-success">
        <th colspan="4">Users</th>
      </tr>
    </thead>
    <tr class="table-info">
      <td colspan="4">No users found :(</td>
    </tr>
  </table>
  <br>
  <form>
    <button class="btn btn-success btn-lg" type="submit" name="invite_id" value="back" formmethod="POST">Go back</button>
  </form>
{% endif %}
    </thead>
  </div>
</div>
{% endblock %}
