{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('forgottenpassword') }}" method="post">
        <div class = test>
        <fieldset>
            <p> Please enter your username below. <br> A temporary password will be sent to the email address associated with that account, so that you can log in.</p>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </div
        </fieldset>
    </form>
{% endblock %}