{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="row">
  <div class="column left">
    <div class="form-group">
    <b><label for="exampleTextarea"><h1>Welkom</h1></label></b>
    <div class = "box">
    <textarea class="form-control" id="exampleTextarea" rows="8" cols="50">Welcome to Geography Guru!
      Geography Guru is the game to test whether your geography knowledge is up to standards.
      Play against other players from around the globe and see yourself soaring through the ranks!
      Navigate using the tabs at the top of the page.</textarea>
    </div>
    </div>
  </div>
  <div class="column right">
    <b><label for="exampleTextarea"><h1>Current Games</h1></label></b>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Score</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>

        {% for now in current %}
        <tr class="table-info">
          <td>{{ now.score }}</td>
          <td>{{ now.status }}</td>
        </tr>
        <!--<tr class="table-success">-->

        <!--  <td>Column content</td>-->
        <!--  <td>Column content</td>-->
        <!--</tr>-->
        <!--<tr class="table-info">-->
        <!--  <td>Column content</td>-->
        <!--  <td>Column content</td>-->
        <!--  <td>Column content</td>-->
        <!--</tr>-->
        <!--<tr class="table-success">-->
        <!--  <td>Column content</td>-->
        <!--  <td>Column content</td>-->
        <!--  <td>Column content</td>-->
        <!--</tr>-->
        {% endfor %}
    </thead>
  </div>
</div>
{% endblock %}
