{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(window).on('load', function() {
  if ($("#wrong").length != 0){
    setTimeout(function() {
      $('#wrong').fadeOut('fast');
    }, 7500);}

  if ($("#lost").length != 0){
    setTimeout(function() {
      $('#lost').fadeOut('fast');
    }, 7500);}

  if ($("#won").length != 0){
    setTimeout(function() {
      $('#won').fadeOut('fast');
    }, 7500);}

  if ($("#draw").length != 0){
    setTimeout(function() {
      $('#draw').fadeOut('fast');
    }, 7500);}

  if ($("#done").length != 0){
    setTimeout(function() {
      $('#done').fadeOut('fast');
    }, 7500);}
});

</script>

    {% if finished[0] == 1 %}
      <div id="wrong" class="alert alert-danger" role="alert">Looks like you got that one wrong bud! The right answer was: {{ finished[1] }}</div>
    {% endif %}

    {% if finished[0] == 2 %}
      <div id="lost" class="alert alert-danger" role="alert">You lost! What a bummer... But don't get discouraged! You'll get 'em next time! The right answer was: {{ finished[1] }}</div>
    {% endif %}

    {% if finished[0] == 3 %}
      <div id="won" class="alert alert-success" role="alert">You won! Nice job! <img src="https://thumbs.gfycat.com/EmptyAdoredDutchshepherddog-size_restricted.gif" id="wingif"> The answer to that last question was: {{ finished[1] }}</div>
    {% endif %}

    {% if finished[0] == 4 %}
      <div id="draw" class="alert alert-warning" role="alert">It's a draw! Make sure to rematch your opponent to decide who wins! The right answer was: {{ finished[1] }}</div>
    {% endif %}

    {% if finished[0] == 5 %}
      <div id="done" class="alert alert-info" role="alert">Wow! You managed to get all questions right! That's amazing, you should be proud!</div>
    {% endif %}

<div class="row">
  <div class="column left">
    <div class="jumbotron">
  <h1 class="display-3">Welkom!</h1>
  <p class="lead">      Welcome to Geography Guru!
      Geography Guru is the game to test whether your geography knowledge is up to standards.
      Play against other players from around the globe and see yourself soaring through the ranks!
      Navigate using the tabs at the top of the page.</p>
</div>
  </div>
  <div class="column right">
    <h1><p class ="text-success">Current Games</p></h1>
    <div class="scroller">
    <table class="table">
      <thead>
        <tr class="table-success">
          <th scope="col">opponent</th></th>
          <th scope="col">Score</th>
          <th colspan="2">Status</th>
        </tr>
      </thead>
      {% if current or current2 %}
          {% for now in current %}
            <tr class="table-info">
              <td scope="col">{{ now.player2_name }}</td>
              <td scope="col">{{ now.score }}</td>
              <td colspan="2">{{ now.status }}</td>
            </tr>
          {% endfor %}
          {% for now in current2 %}
            <tr class="table-info">
              <td>{{ now.player1_name }}</td>
              <td colspan="1">{{ now.score }}</td>
              <td colspan="2">
                <form>
                  <button class="btn btn-primary" value="{{ now.game_id }}" name="game_id" type="submit" formmethod="POST">Play!</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        {% else %}
        <tr class="table-info">
          <td colspan="4">No current games :(</td>
        </tr>
        {% endif %}
    </thead>
    </table>
    </div>
  </div>
</div>
{% endblock %}