{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
<form action="{{ url_for('leaderboard') }}" method="post">
        <fieldset>
        </fieldset>
</form>

<b><label for="exampleTextarea"><h1>Leaderboard</h1></label></b>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Leaderboard</th>
          <th scope="col">Player</th>
          <th scope="col">Games won</th>
        </tr>
      </thead>
      {% if hoogste %}
        {% for number in hoogste %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ number.username }}</td>
                <td>{{ number.games_won }}</td>
            </tr>
        {% endfor %}
      {% else %}
          <td>No leaderboard</td>
      {% endif %}
    </thead>
  </div>
</div>
{% endblock %}