{% extends "layout.html" %}

{% block title %}
    play
{% endblock %}

{% block main %}
    <form action="{{ url_for('play') }}" method="post" id="give_answer">
    <fieldset></fieldset>
    </form>

    <p class="question">{{ question|safe }}<p/>
    <tr class="table-info">
        <td>
            <button id=ans1 class="btn btn-first" value="{{ answers[0] }}" name="answer" type="submit" formmethod="POST" form="give_answer">{{ answers[0]|safe }}</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id=ans2 class="btn btn-second" value="{{ answers[1] }}" name="answer" type="submit" formmethod="POST" form="give_answer">{{ answers[1]|safe }}</button>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <button id=ans3 class="btn btn-third" value="{{ answers[2] }}" name="answer" type="submit" formmethod="POST" form="give_answer">{{ answers[2]|safe }}</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id=ans4 class="btn btn-fourth" value="{{ answers[3] }}" name="answer" type="submit" formmethod="POST" form="give_answer">{{ answers[3]|safe }}</button>
        </td>
    </tr>
    <div class="gameinfo">
        {% if to_beat != 999 %}
            score to beat: {{ to_beat }}
        {% endif %}
        <br>
        current score: {{ score }}
        <br>
        playing against: {{ opponent }}
    </div>
</table>

{% endblock %}