{% extends "layout.html" %}

{% block title %}
    play
{% endblock %}

{% block main %}
    <form action="{{ url_for('play') }}" method="post" id="give_answer">
    <fieldset></fieldset>
    </form>

    <p class="question">{{ question|safe }}<p/>
    <tr class="table-info">
        {% for answer in answers[:1] %}
            <td>
                <button id=ans1 class="btn btn-eerste" value="{{ answer }}" name="answer" type="submit" formmethod="POST" form="give_answer">{{ answer|safe }}</button>
            </td>
        {% endfor %}
    </tr>
    <tr>
        {% for answer in answers[1:2] %}
            <td>
                <button id=ans2 class="btn btn-tweede" value="{{ answer }}" name="answer" type="submit" formmethod="POST" form="give_answer">{{ answer|safe }}</button>
            </td>
        {% endfor %}
    </tr>
    <br>
    <tr>
        {% for answer in answers[2:3] %}
            <td>
                <button id=ans3 class="btn btn-derde" value="{{ answer }}" name="answer" type="submit" formmethod="POST" form="give_answer">{{ answer|safe }}</button>
            </td>
          {% endfor %}
    </tr>
    <tr>
        {% for answer in answers[3:4] %}
            <td>
                <button id=ans4 class="btn btn-vierde" value="{{ answer }}" name="answer" type="submit" formmethod="POST" form="give_answer">{{ answer|safe }}</button>
            </td>
        {% endfor %}
    </tr>
    <div class="spelinfo">
        {% if to_beat != 999 %}
            score to beat: {{ to_beat }}
        {% endif %}
        <br>
        current score: {{ score }}
        <br>
        playing against: {{ opponent }}
    </div>
</table>

{% endblock %}