{% extends "layout.html" %}

{% block title %}
    play
{% endblock %}

{% block main %}
    <form action="{{ url_for('play') }}" method="post">
        <fieldset>
        </fieldset>
    </form>

    <p>{{ question|safe }}<p/>
    {% for answer in answers %}
        <form action="{{ url_for('play') }}">
            <button class="{{ loop.index }}" value="{{ answer }}" name="answer" type="submit" formmethod="POST">{{ answer|safe }}</button>
        </form>
    {% endfor %}

    <div>
        {% if score %}
            score to beat: {{ score }}
        {% endif %}
        <br>
        playing against: {{ opponent }}
    </div>
</table>

{% endblock %}